:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none; /* Rimuove la sottolineatura */
  color: inherit; /* Utilizza il colore ereditato dal genitore */
  cursor: pointer; /* Mostra il cursore come puntatore */
}


.filter-menu {
  padding: 5px;
  width: 100px;
  background-color: #333;
  border-radius: 10px;
}

.veicolo-immagine{
  max-width: 400px;
  width: 100%;
}

img.large {
  max-width: 100%;
  border-radius: 10px;

}

img.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}